<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Skill</h1>
    <form action="/skills" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Level:</label>
        <select name="level">
            <option value="Entry">Entry</option>
            <option value="Jr">Jr</option>
            <option value="Sr">Sr</option>
        </select>
        <button type="submit">Add Skill</button>
    </form>
</body>
</html>